:root {
    --level2-height: 266.67px;
    --level2-width: 200px;
    --level1-height: 333.33px;
    --level1-width: 250px;
    --level0-height: 400px;
    --level0-width: 300px;
    --level-2-left: 550px;
    --level-1-left: 400px;
    --level0-left: 250px;
    --level1-left: 150px;
    --level2-left: 50px;
}

body {
    background-color: #89fad0;
}

.carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.carousel__arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
}

.carousel__arrow--right {
    left: 780px;
}

.carousel__items_list {
    padding-top: 40px;
    padding-bottom: 40px;
}

.carousel__items_list:focus {
    outline: 0;
}

.carousel__item {
    text-align: center;
    color: white;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 1.125rem;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
}

.carousel__item--level-2 {
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    left: var(--level-2-left);
    background-color: #228291;
    margin-top: 25px;
}

.carousel__item--level-1 {
    height: var(--level1-height);
    width: var(--level1-width);
    line-height: var(--level1-height);
    left: var(--level-1-left);
    background-color: #6796e5;
    margin-top: 10px;
    z-index: 3;
}

.carousel__item--level0 {
    height: var(--level0-height);
    width: var(--level0-width);
    line-height: var(--level0-height);
    left: var(--level0-left);
    background-color: #4ec9e1;
    z-index: 5;
}

.carousel__item--level1 {
    height: var(--level1-height);
    width: var(--level1-width);
    line-height: var(--level1-height);
    left: var(--level1-left);
    background-color: #6796e5;
    margin-top: 10px;
}

.carousel__item--level2 {
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    left: var(--level2-left);
    background-color: #228291;
    margin-top: 25px;
}

.left-enter {
    opacity: 0;
    left: var(--level2-left) - var(--level2-width);
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: var(--level2-left);
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: var(--level-2-left);
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: var(--level-2-left) + var(--level2-width) + 20;
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    opacity: 0;
    line-height: 120px;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    left: var(--level-2-left) + var(--level2-width);
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    opacity: 0;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    opacity: 1;
    left: var(--level-2-left);
    height: var(--level2-height);
    line-height: var(--level2-height);
    width: var(--level2-width);
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: var(--level2-left);
    height: var(--level2-height);
    line-height: var(--level2-height);
    width: var(--level2-width);
    opacity: 1;
    margin-top: 25px;
}

.right-leave.right-leave-active {
    left: var(--level2-left) - var(--level2-width);
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    opacity: 0;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
